
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmEmail</title>
</head>
<body>
<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>Thank you for confirming your email.</h3>
        </div>
    </div>
</div>
</body>
</html>
