
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/variables.less" rel="stylesheet" />
    <link href="~/css/bootswatch.less" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="bs-component">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="navbar-brand">MakeWish E-Shopping</div>
            </div>
            <div class="navbar-collapse collapse">




            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container body-content">

        <div class="jumbotron">
            <h1>Note</h1>
            <p class="text-info">
                Please check your email and confirm your email address then login and make wish for order.
            </p>

            


        </div>


    </div>
    
</body>
</html>
